.header {
  background-color: rgb(33, 32, 32);
  padding: 1rem 3rem;
  display: flex;
  justify-content: space-evenly;
  color: #fff;
  height: 3rem;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo img {
  height: 1.5rem;
}

.logo .react {
  color: rgb(34, 222, 251);
  font-size: 1.8rem;
}

.nav ul {
  display: flex;
}

.nav ul li {
  text-decoration: none;
  list-style-type: none;
  padding: 0 0.5rem;
}

.search-bar {
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-bar input {
  width: 8rem;
  color: #fff;
  background-color: black;
  border: 0;
  height: 1.5rem;
  padding: 0 10px;
  border: 1px solid rgb(131, 127, 127);
  border-radius: 10px;
}

.last-elem {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.last-elem a svg {
  background-color: aliceblue;
}

.last-elem a {
  padding: 0 0.5rem;
  text-decoration: none;
  color: #fff;
}
