.notification {
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(18, 18, 18);
  color: white;
}

.notification a {
  text-decoration: none;
  margin: 0 10px;
}

.notification .span-details {
  color: rgb(34, 222, 251);
  text-decoration: none;
}
