* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: 0 6rem;
  line-height: 1.5;
}

.body-container div {
  height: auto;
  padding: 0 1rem;
  width: 33.33%;
  text-align: left;
}

.body-container div h3 {
  font-weight: 400;
  font-size: 1.5rem;
  color: gray;
  margin: 1rem 0;
}

.body-container div p {
  padding: 0.5rem 0;
}
