* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  background-color: rgb(45, 43, 49);
  height: 18rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.container h2 {
  font-size: 3rem;
  color: rgb(34, 222, 251);
}

.container p {
  font-size: 1.5rem;
  font-weight: 200;
  color: #fff;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-get-started {
  font-size: 1rem;
  height: 2.5rem;
  width: 8rem;
  background-color: rgb(34, 222, 251);
  border: 0;
  border-radius: 8px;
  margin: 0 15px;
}

.buttons a {
  text-decoration: none;
  color: rgb(34, 222, 251);
}
